div.Snippet {
    border-radius: 10px;
    padding: 20px;
    background-color: #202329;
}

div.Snippet > div.Head {
    border-bottom: 1px solid #ecebeb;
    padding-bottom: 10px;
}

div.Snippet > div.Head > span.Method {
    color: #31ff80;
}

div.Snippet > div.Head > span.Endpoint {
    color: #3a6ae8;
    margin-left: 20px;
}

div.Snippet > div.Response {
    padding-top: 10px;
    color: orange;
}

span {
    font-weight: 500;
}

span.Key, span.Value {
    font-weight: 600;
}

span.Key {
    color: #db56c5;
}

span.Value {
    color: rgb(0, 197, 43);
}

span.Number {
    color: orangered;
}

span.Value, span.Square-Bracket {
    margin-left: 10px;
}

div.Snippet > div.Response > div.Inner-x {
    margin-left: 20px;
}

div.Snippet > div.Response > div.Inner-xx {
    margin-left: 40px;
}

div.Snippet > div.Response > div.Inner-xxx {
    margin-left: 60px;
}